<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <meta content="email=no" name="format-detection">
        <title>大外在线-官方网站</title>
        <block name="style"></block>
    </head>
    <body>
        <!--头部 start-->
        <div class="dawai-index-header">
            <a href="/"><img src="__HOME_PUBLIC__/public_wap/images/icon-logo.png" alt="logo"></a>
        </div>
        <!--头部 end-->


        <block name="main"></block>


        <!--法语课程 end-->
        <div class="space-gray"></div>
        <!--底部 start-->
        <div class="dawai-index-footer">
            <img src="__HOME_PUBLIC__/public_wap/images/icon-logo-f.png" alt="底部logo">
            <p>版权所有&nbsp;©&nbsp;大连外国语大学&nbsp;<a style="color:#fff" href="http://www.miitbeian.gov.cn" target="_blank">辽ICP备12015802号-2</a></p>
        </div>
        <!--底部 end-->

        <block name="script"></block>
        

    </body>
</html>