@charset "utf-8";
/*reset*/


.index_html .huadong .huadong_block{
  width: 1.8rem;
	height: 2.6rem;
	background: #fff;
	border-radius: 0.1rem;
	margin-left: 0.3rem;
}

.index_html .inline_flex2 .index_chp .bj_p {
  height: 1.1rem;
  padding-bottom: 0;
}

.head_top .return {
  width: 0.17rem;
  height: 0.28rem;
  position: absolute;
  top: 0.24rem;
  left: 0.25rem;
}

.details_html .head_top p {
  margin-right: 0.1rem;
  padding-top: 0.1rem;
}

.bian {
  width: 100%;
  height: 0.2rem;
  background: #208736;
  float: left;
}