<extend name="$_home_public_layout"/>

<block name="style">

<link rel="stylesheet" href="__HOME_PUBLIC__/public/css/swiper-3.4.2.min.css">
<link rel="stylesheet" href="__HOME_PUBLIC__/public/css/common-pc.css">
<link rel="stylesheet" href="__HOME_PUBLIC__/public/css/detail.css">
</block>
<block name="script">
<script src="__HOME_PUBLIC__/public/js/jquery.min.js"></script>
<script src="__HOME_PUBLIC__/public/js/swiper-3.4.2.jquery.min.js"></script>
<script src="__HOME_PUBLIC__/public/js/common.js"></script>
<script>
	$(function(){
		var wait=10;
		timeOut();
		function timeOut(){
			if(wait === 0){
				window.location.href = "/";
			}else{
				setTimeout(function(){
					wait--;
					$('.form-success-area a:first-of-type').html('返回首页（'+wait+'s）');
					timeOut();
				},1000);
			}
		}
	});
</script>
</block>
<block name="main">

<!--灰色背景 start-->
<div class="bg-gray">
	<!--课程信息 start-->
	<div class="container">
		<div class="dawai-detail-area">
			<div class="dawai-default-crumb">
				<!--<a href="{:url('index')}">首页</a>--><!--<font>/</font><span>四级课程</span>-->
			</div>
			<div class="dawai-detail-info style-form">
				<div class="left">
					<img src="{$data['img_1']}" alt="">
				</div>
				<div class="right">
					<h2>{$data['title']}</h2>
					<ul>
						<!--<li class="small">
							<span>价格：<b>￥8800</b></span>
						</li>
						<li>
							<strong>￥10000<img src="__HOME_PUBLIC__/public/images/icon-delete.png" alt=""></strong>
							<span>（8.8折）</span>
						</li>-->
						<li>
							<span>课时：{$data['total_hour']}</span>
						</li>
						<notempty name="data.end_time">
							<li>
								<span>有效期：{$data['end_time']}</span>
							</li>
						</notempty>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--课程信息 end-->
</div>
<!--灰色背景 end-->
<!--提示 start-->
<div class="container">
	<div class="form-success-area">
		<h2>报名成功！</h2>
		<p>客服老师会在<b>24小时</b>内联系您，通知您具体上课流程！如您有任何疑问，可随时通过在线客服或客服电话进行咨询。<br>感谢选择大外在线。</p>
		<div class="btn-group">
			<a href="/">返回首页（10s）</a>
			<a href="http://wpa.qq.com/msgrd?v=3&uin=2885327890&site=qq&menu=yes">在线咨询</a>
		</div>
	</div>
</div>
<!--提示 end-->
</block>