
              
<div style="margin-top:10px" >

    <div class="row" style="margin-top:10px">
        <label class="col-sm-1 control-label" style="padding-top: 6px;">课程大类</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="title_w_0" >
        </div>
        <label class="col-sm-1 control-label" style="padding-top: 6px;" >课时数</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="total_hour_w_0">
        </div>

        <div class="col-xs-3">
            <button type="button" class="btn btn-success do_form btn-sm" onclick="add_widget_0()">提交</button>
        </div>
    </div>

</div>

