        
        
<div class="row" style="margin-top:10px" id="widget_3_{$info[id]}">
    <label class="col-sm-1 control-label" style="padding-top: 10px;"></label>
    <div class="col-xs-7">
        <input type="text" class="form-control" id="title_w_3_{$info[id]}" value="{$info[title]}">
    </div>

    <div class="col-xs-3">
        <button type="button" class="btn btn-success do_form btn-sm" onclick="save_widget_3({$info[id]})">提交</button>
        <button type="button" id="delete_form" class="btn btn-danger btn-sm" onclick="del_widget(3,{$info[id]})">删除</button>
    </div>
</div>

        
        